<div class="page-content">
    <h1 class="mdl-typography--display-1-color-contrast mdl-typography--text-center">{{selectedGenre}} Movies List</h1>
    <!-- sorting of movies based on year  -->
    <div class="col-xs-12" sort-data></div>
    <!--  -->
    <div class="android-card-container mdl-grid">
        <div ng-repeat="movie in movielist" class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
            <div class="mdl-card__title mdl-card--expand">
                <h4 class="mdl-card__title-text">{{movie.movie_title}}</h4>
            </div>
            <div class="mdl-card__supporting-text">
                <div class="mdl-typography--font-regular mdl-typography--subhead"><strong>Language:</strong> {{movie.language}}</div>
                <div class="mdl-typography--font-regular mdl-typography--subhead"><strong>Country:</strong> {{movie.country}}</div>
                <div class="mdl-typography--font-regular mdl-typography--subhead"><strong>Release Year:</strong> {{movie.title_year}}</div>
            </div>
            <div class="mdl-card__supporting-text">
                <span ng-repeat="tagchip in (movie.genres).split('|')"  class="mdl-chip">
                    <span class="mdl-chip__text">{{tagchip}}</span>
                </span>
            </div>
            <div class="mdl-card__supporting-text">
                <div class="mdl-typography--font-regular mdl-typography--subhead"><strong>Director:</strong> {{movie.director_name}}</div>
            </div>
            <div class="mdl-card__actions mdl-card--border">
                <a class="android-link mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="{{movie.movie_imdb_link}}">
                Go to Movie
                <i class="material-icons">chevron_right</i>
                </a>
            </div>
        </div>
        <div class="col-xs-12 text-center load-more" ng-show="showLoadMore">
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" ng-click="loadmore()">
                Load more
            </button>
        </div>
    </div>
</div>