nav ul{ list-style-type: none;}
.mdl-chip{ display: inline-block; vertical-align: middle; margin-right: 5px; }
.vmargin{ margin: 30px 0; }
.vmargin .mdl-textfield{ width: 50px; }
.mdl-textfield__input.text-center{ text-align: center; }
.loader-overlay{ width: 100%; height: 100%; position: fixed; top: 0; left: 0; z-index: 1000; background-color: rgba(255,255,255,0.75); }
 .spinner-container{ position: absolute; top: 50%; left: 50%; transform: translateX(-50%) translateY(-50%); } 
.hidden-submit{ width: 1px; height: 1px; position: absolute; display: none; left: -9999999px; top: -99999px; }
.mdl-textfield--expandable .mdl-button--icon{ right: 0; }
.footer { position: absolute; bottom: 0; width: 100%; height: 60px; background-color: #f5f5f5; }
.mdl-layout__content{ padding: 60px 15px 0; }
.container .text-muted { margin: 20px 0; }
navbar-fixed-top{ z-index: 999; }
.search-section{ position: relative; }
.autocomplete-list{ min-width: 300px; max-height: 300px; overflow: auto;  position: absolute; left: 0; top: 36px; background-color: #fff; z-index: 10; box-shadow: 0 0 5px rgba(0,0,0,0.25); padding: 10px 0; }
.autocomplete-list ul{ padding-left: 0; }
.autocomplete-list ul li a{ display: block; color: #4f4f4f; padding: 5px 15px; text-decoration: none; }
.autocomplete-list ul li a:hover{ background-color: #fafafa; }